@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);
@custom-media --large-desktop (min-width: 1200px);

:global {
  .bm-burger-button {
    display: none !important;
  }
}

header {
  background-image: url('/img/hero-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  padding: 20px;
  margin-bottom: 40px;
}

nav {
  lost-utility: clearfix;
  margin-bottom: 40px;
  padding-top: 20px;

  @media(--desktop) {
    lost-center: 992px;
    margin-bottom: 60px;
    padding-top: 40px;
  }

  @media(--large-desktop) {
    lost-center: 1200px;
  }
}

.navbar {
  display: none;
  @media (--desktop) {
    display: block;
    lost-column: 1/2;
  }
}

.navbar ul  {
  float: right;
  li {
    float: left;
    margin-right: 50px;
    vertical-align: top;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: #e8e8e8;
      font-size: 22px;
      text-decoration: none;
      &:hover {
        color: #4C4C51;
      }
    }
  }
}

.navbar img {
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -10px;
  width: 50px;
}

.header-block {
  padding-top: 70px;
  text-align: center;
  @media(--tablet) {
    lost-center: 590px;
  }
}

.header-copy {
  color: #e8e8e8;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 22px;
  text-align: center;
}

.slide {
  @media(--desktop) {
    display: none;
  }
}

.header-menu-trigger {
  cursor: pointer;
  height: 42px;
  display: inline-block;
  position: relative;
  width: 42px;
  lost-column: 1/2;
  @media(--desktop) {
    display: none;
  }
}

.header-menu-trigger .header-menu-icon {
  background-color: #fff;
  display: block;
  height: 3px;
  position: absolute;
  margin-top: 1em;
  right: 0px;
  width: 24px;
}

.header-menu-trigger .header-menu-icon::before, 
.header-menu-trigger .header-menu-icon::after {
  content: '';
  height: 100%;
  background-color: inherit;
  left: 0;
  position: absolute;
  width: 100%;
}

.header-menu-trigger .header-menu-icon::before {
  top: -9px;
}

.header-menu-trigger .header-menu-icon::after {
  bottom: -9px;
}

.menu-nav-wrap {
  background-color: #88939E;
  font-size: 1.5rem;
  height: 100%;
  overflow-y: auto;
  padding: 3.6rem 3rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 240px;
  z-index: 800;
}

.menu-nav-wrap .nav-list {
  margin: 0;
  padding: 0 0 1.8rem 0;
}

.menu-nav-wrap .nav-list li {
  list-style: none;
  margin-bottom: 1em;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.bm-menu {
  font-size: 1.15em;
  padding: 0;
}

.menu-nav-wrap .close-button {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: transparent;
  cursor: pointer;
  display: block;
  font: 0/0 a;
  height: 30px;
  position: absolute;
  right: 30px;
  text-shadow: none;
  top: 20px;
  width: 30px;
}

.menu-nav-wrap .close-button span::before, 
.menu-nav-wrap .close-button span::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: 9px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 12px;
}

.menu-nav-wrap .close-button span::before {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.menu-nav-wrap .close-button span::after {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}