@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);
@custom-media --large-desktop (min-width: 1200px);

h2 {
  color: #4c4c51;
  line-height: 36px;
  margin-bottom: 22px;

  @media(--desktop) {
    font-size: 36px;
  }
}

.video-copy {
  color: #88939e;
  font-size: 16px;
  line-height: 28px;

  @media(--desktop) {
    font-size: 22px;
  }
}

.show { display: block; }
.hide { display: none; }

section.video {
  lost-utility: clearfix;

  @media(--desktop) {
    lost-center: 1200px;
  }
}

.video-section {
  lost-utility: clearfix;
}

.video-info-wrap {
  lost-column: 1/1;

  @media(--tablet) {
    :global {
      .slick-list {
        margin-bottom: 40px;
      }
      .slick-dots {
        bottom: -50px;
      }
    }
  }

  @media(--large-desktop) {
    :global {
      .slick-list {
        margin-bottom: 80px;
      }
    }
  }
}

.video-info-wrap p {
  text-align: center;
}

:global {
  .slick-next:before, .slick-prev:before {
    color: #000;
  }
}

.video-info {
  margin-bottom: 22px;
  overflow: hidden;

  @media(--tablet) {
    h2 {
      font-size: 22px;
    }
    span {
      font-size: 16px;
    }
    lost-column: 1/2;
  }

  @media(--desktop) {
    float: left;
    lost-column: 1/2;
    padding-top: 50px;
  }
}

.video-placeholder {
  background-image: url('/img/stockimage.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 260px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  &:before {
    background-image: linear-gradient(to bottom,#ee2e1d,#ffb1b5);
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: .6;
    right: 0;
    top: 0;
  }

  @media(--tablet) {
    lost-column: 1/2;
  }

  @media(--desktop) {
    float: right;
    width: 460px;
  }
}

.video-icon {
  background-image: url('/img/playbtn.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 117px;
  position: relative;
  top: 30%;
  width: 116px;
}

.show-for-phone {
  display: block;

  @media(--tablet) {
    display: none;
  }
}

.loader-wrap {
  lost-center: 300px;
  text-align: center;
}

.loader {
  animation: loader 2s infinite ease;
  border: 4px solid #ee2d1c;
  display: inline-block;
  height: 30px;
  position: relative;
  top: 50%;
  width: 30px;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}