@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 992px);
@custom-media --large-desktop (min-width: 1200px);

@font-face {
  font-family: 'SourceSansBold';
  font-weight: bold;
	font-style: normal;
	src: url('/fonts/sourcesansprobold.otf') format("opentype");
}

.footer {
  display: block;
  lost-utility: clearfix;
  position: relative;
  @media(--large-desktop) {
    lost-center: 1200px;
  }

  ul li a {
    color: #88939e;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      color: #4c4c51;
    }
    @media(--desktop) {
      font-size: 20px;
    }
  }
}

.footer-link-wrap {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  @media(--large-desktop) {
    padding: 0 20px;
  }
}

.footer-links {
  lost-column: 1/2;
  @media(--tablet) {
    lost-column: 1/4;
  }
}

p.footer-link-title {
  color: #f04333;
  font-family: "SourceSansBold";
  font-weight: bold;
  margin-bottom: 12px;
}

.footer-links li {
  list-style: none;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #e8e8e8;
  margin-bottom: 40px;
}

.privacy-link-wrap {
  lost-column: 1/2;
}

.privacy-links {
  float: right;
}

.privacy-links li {
  display: block;
  margin-bottom: 10px;
  text-align: right;

  @media(--tablet) {
    float: left;
    margin-right: 30px;
    text-align: right;
    &:last-child {
      margin-right: 0;
    }
  }
}

.logo-privacy {
  display: inline-block;
  width: 100%;
}